[Unit]
Description=Stasis Wayland Idle Manager
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/stasis
Restart=on-failure

[Install]
WantedBy=graphical-session.target
