[Unit]
Description=Syncthing Tray
After=graphical-session.target
PartOf=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/syncthingtray-qt6
Restart=on-failure
RestartSec=1
