// ╭───────────────────────╮
// │ environment variables │
// ╰───────────────────────╯
// 📖 https://niri-wm.github.io/niri/Configuration:-Miscellaneous#environment

environment {
    QT_QPA_PLATFORMTHEME "qt5ct"
}

// ╭─────────╮
// │ startup │
// ╰─────────╯
// 📖 https://niri-wm.github.io/niri/Configuration:-Miscellaneous#spawn-at-startup

spawn-at-startup "qs" "-c" "noctalia-shell" // noctalia shell
spawn-at-startup "mpdris2-rs" // mpdris2-rs - mpris bridge for mpd

spawn-at-startup "syncthingtray-qt6" "--wait" // syncthing tray applet
spawn-at-startup "kdeconnect-indicator" // KDE Connect indicator
