// ╭──────────────────────────╮
// │ window management layout │
// ╰──────────────────────────╯
// 📖 https://niri-wm.github.io/niri/Configuration:-Layout

layout {
    gaps 8
    center-focused-column "on-overflow"
    default-column-width { proportion 0.5; }
    
    // disable focus ring (we prefer borders)
    focus-ring {
        off
    }

    border {
        on
        width 2

        // default niri colors, but gets set by noctalia
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

// ╭────────────╮
// │ workspaces │
// ╰────────────╯
// 📖 https://niri-wm.github.io/niri/Configuration:-Named-Workspaces

// dedicated chat workspace
workspace "chat" {
    open-on-output "HDMI-A-1" // "secondary" monitor, where chats will live
}

// browser and internet-related applications workspace
workspace "browser" {
    open-on-output "DP-1" // "main" monitor
}

// terminals, editors and etc. workspace
workspace "console" {
    open-on-output "DP-1"
}

// ╭──────────────╮
// │ window rules │
// ╰──────────────╯
// 📖 https://niri-wm.github.io/niri/Configuration:-Window-Rules

// generic/global window rules
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// list of applications that should open on the "chat" workspace
window-rule {
    match app-id=r#"^org\.gajim\.Gajim$"# // gajim
    match app-id=r#"^org\.nicotine_plus\.Nicotine$"# // nicotine plus
    match app-id=r#"^org\.signal\.Signal$"# // signal
    match app-id=r#"discord$"# // discord
    match app-id=r#"materialgram$"# // materialgram

    open-on-workspace "chat"
    open-focused true // makes it less annoying to realize where new windows went
}

// list of applications that should open on the "browser" workspace
window-rule {
    match app-id=r#"^net\.thunderbird\.Thunderbird$"# // thunderbird
    match app-id=r#"firefox$"# // firefox
    match app-id=r#"helium$"# // helium browser

    open-on-workspace "browser"
    open-focused true
}

// list of applications that should open on the "console" workspace
window-rule {
    match app-id=r#"codium$"# // vscodium
    match app-id=r#"wezterm$"# // wezterm

    open-on-workspace "console"
    open-focused true
}

// list of applications that should open "maximized" by default
window-rule {
    match app-id=r#"firefox$"# // firefox
    match app-id=r#"helium$"# // helium browser
    match app-id=r#"codium$"# // vscodium

    open-maximized true
}

// open picture-in-picture players as floating by default
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$" // firefox's pip
    match title="^Picture in picture$" // chromium-based pip's

    open-floating true
}

// block sensitive applications from video recordings/screencasts
window-rule {
    match app-id=r#"^org\.gnome\.World\.Secrets$"# // gnome secrets
    match app-id=r#"^org\.keepassxc\.KeePassXC$"# // keepassxc
    match app-id=r#"^org\.thunderbird\.Thunderbird$"# // thunderbird
    match app-id=r#"Bitwarden$"# // bitwarden

    block-out-from "screencast"
}

// position gpu-screen-recorder notifications correctly
window-rule {
    match title="^gsr notify$"

    default-floating-position x=10 y=10 relative-to="top-right"
    open-focused false
}

// position steam notifications correctly
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#

    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

// blurred wallpaper in niri's overview
layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}

// special case: make windowkill "fake fullscreen" properly
window-rule {
    match app-id=r#"windowkill$"#
    
    open-maximized-to-edges true
    open-floating true
    draw-border-with-background false
    geometry-corner-radius 0
    default-floating-position x=0 y=0 relative-to="top-left"

    border {
        off
    }

    shadow {
        off
    }
}