// ╭──────────────────────────╮
// │ window management layout │
// ╰──────────────────────────╯
// 📖 https://niri-wm.github.io/niri/Configuration:-Layout

layout {
    gaps 8
    center-focused-column "on-overflow"
    default-column-width { proportion 0.5; }
    
    // disable focus ring (we prefer borders)
    focus-ring {
        off
    }

    border {
        on
        width 2
        active-color "#ffc87f"
        inactive-color "#505050"

        // Color of the border around windows that request your attention.
        urgent-color "#9b0000"

        // Gradients can use a few different interpolation color spaces.
        // For example, this is a pastel rainbow gradient via in="oklch longer hue".
        //
        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"

        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

// ╭──────────────╮
// │ window rules │
// ╰──────────────╯
// 📖 https://niri-wm.github.io/niri/Configuration:-Window-Rules

// generic/global window rules
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// open picture-in-picture players as floating by default
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match title="^Picture in picture$"
    open-floating true
}

// block password managers from video recordings/screencasts
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"^com\.bitwarden\.desktop$"#

    block-out-from "screencast"
}

// position gpu-screen-recorder notifications correctly
window-rule {
    match title="^gsr notify$"
    default-floating-position x=10 y=10 relative-to="top-right"
    open-focused false
}

// position steam notifications correctly
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

// special case: make windowkill "fake fullscreen" properly
window-rule {
    match app-id=r#"windowkill$"#
    
    open-maximized true
    open-floating true
    draw-border-with-background false
    geometry-corner-radius 0
    default-floating-position x=0 y=0 relative-to="top-left"

    border {
        off
    }

    shadow {
        off
    }
}

// blurred wallpaper in niri's overview
layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}

// ╭────────────╮
// │ workspaces │
// ╰────────────╯
// 📖 https://niri-wm.github.io/niri/Configuration:-Named-Workspaces

workspace "chat"
workspace "browser"